{% extends "emotionreader/base.html" %}

{% block body %}
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="purple">
            <div class="page-header-image" data-parallax="true"">
                <div class="filter"></div>
                <div class="title-container text-center">
                    <h1>About</h1>
                    <h3>Motus.life Emotion Tracker</h3>
                    <h4 class="description text-center">About text.</h4>
                    <br />
                    <a class="btn btn-round btn-neutral btn-fill" href="{% url 'home' %}">Home</a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul class="footer-menu">
                        <li>
                            <a href="https://github.com/dave5801/emotion-reader">
                                Github
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-center">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="https://github.com/ztaylor2">Zach Taylor</a> |
                        <a href="https://github.com/musflood">Megan Flood</a> |
                        <a href="https://github.com/mshinners">Michael Shinners</a> |
                        <a href="https://github.com/dave5801">David Franklin</a> |
                        <a href="https://github.com/Loaye">Jacob Carstens</a>
                    </p>
                </nav>
            </div>
        </footer>
    </div>
</body>
{% endblock %}