{% extends "emotionreader/dashboard.html" %}

    {% block body %}

        {% if request.user.is_authenticated %}

            <li class="nav-item" class="user_nav">
                <a class="nav-link" href="{% url 'profile' %}"> {{ request.user.username }} </a>
            </li>

            <li class="nav-item" class="user_nav">
                <a class="nav-link" href="{% url 'journal' %}">Journal</a>
            </li>

            <li class="nav-item" class="user_nav">
                <a class="nav-link" href="{% url 'create_journal' %}">Create Journal</a>
            </li>

            <li class="nav-item" class="user_nav">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>

        {% else %}

            <li class="nav-item" class="user_nav">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>

            <li class="nav-item" class="user_nav">
                <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
            </li>

        {% endif %}

    {% endblock %}
        