{% extends "emotionreader/base.html" %}

{% block body %}
    
    <div class="page-header clear-filter" filter-color="purple">
        <div class="page-header-image" data-parallax="true"">
            <div class="filter"></div>
            <div class="title-container text-center">
                <h1>MOTUS.LIFE</h1>
                <h3>Emotion Tracker</h3>
                <h4 class="description text-center">Track your emotions through photo analysis.</h4>
                <br />
                {% if request.user.is_authenticated %}
                    <a class="btn btn-round btn-neutral btn-fill" href="{% url 'profile' %}">Profile</a>
                    <a class="btn btn-round btn-neutral btn-fill" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-round btn-neutral btn-fill" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-round btn-neutral btn-fill" href="{% url 'registration_register' %}">Register</a>
                    <br>
                    <br>
                    <a class="btn btn-round btn-neutral btn-fill" href="{% url 'face_verification' %}">Face Verification Login</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
