{% extends "emotionreader/dashboard.html" %}

{% block body %}
    
             <div class="content">
                <div class="container-fluid">
                    <h2 class="mt-0">Records for {{ date }}</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card ">
                                <div class="card-header">
                                    <h4 class="card-title">Emotions</h4>
                                    <p class="card-category">Day History</p>
                                </div>
                                <div class="card-body" >
                                    <canvas id="line" width="400" height="250"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">Average Emotion Percent</h4>
                                    <p class="card-category">Average percentage captured for each emotion</p>
                                </div>
                                <div class="card-body ">
                                    <canvas id="donut" width="200" height="262"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for entry in entries %}

                    <div class="row">
                        <div class="col-md-8" style="margin: auto;">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{ entry.title }}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="text-indent: 3em;">
                                                {{ entry.body }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-calendar-check-o"></i> {{ entry.date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

<script>

        var dates = {{ dates }}

        var js_dates = []
        for (i = 0; i <= dates.length - 1; i++) {
            date = new Date(dates[i]);
            js_dates.push(date)
        }

        var timeFormat = 'MM/DD/YYYY HH:mm';


        var config_line = {
            type: 'line',
            data: {
                labels: js_dates,
                datasets: [{
                    label: "Anger",
                    backgroundColor: 'rgba(204, 0, 0, 0.2)',
                    borderColor: 'rgba(204, 0, 0, .7)',
                    fill: false,
                    data: {{ anger }},
                }, {
                    label: "Contempt",
                    backgroundColor: 'rgba(47, 204, 0, 0.2)',
                    borderColor: 'rgba(47, 204, 0, .7)',
                    fill: false,
                    data: {{ contempt }},
                }, {
                    label: "Disgust",
                    backgroundColor: 'rgba(37, 37, 37, 0.2)',
                    borderColor: 'rgba(37, 37, 37, .7)',
                    fill: false,
                    data: {{ disgust }},
                }, {
                    label: "Fear",
                    backgroundColor: 'rgba(127, 0, 112, 0.2)',
                    borderColor: 'rgba(127, 0, 112, .7)',
                    fill: false,
                    data: {{ fear }},
                }, {
                    label: "Happiness",
                    backgroundColor: 'rgba(255, 255, 0, 0.2)',
                    borderColor: 'rgba(255, 255, 0, .7)',
                    fill: false,
                    data: {{ happiness }},
                }, {
                    label: "Neutral",
                    backgroundColor: 'rgba(134, 144, 171, 0.2)',
                    borderColor: 'rgba(134, 144, 171, .7)',
                    fill: false,
                    data: {{ neutral }},
                }, {
                    label: "Sadness",
                    backgroundColor: 'rgba(54, 111, 199, 0.2)',
                    borderColor: 'rgba(54, 111, 199, .7)',
                    fill: false,
                    data: {{ sadness }},
                }, {
                    label: "Surprise",
                    backgroundColor: 'rgba(252, 125, 22, 0.2)',
                    borderColor: 'rgba(252, 125, 22, .7)',
                    fill: false,
                    data: {{ surprise }},
                }]
            },
            options: {
                title:{
                    display: true,
                    text: "Emotion Percentage vs. Time"
                },
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            format: timeFormat,
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }, ],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Emotion Percentage'
                        }
                    }]
                },
            }
        };

        function getRandomColor(numOfSteps, step) {
            var r, g, b;
            var h = step / numOfSteps;
            var i = ~~(h * 6);
            var f = h * 6 - i;
            var q = 1 - f;
            switch(i % 6){
                case 0: r = 1; g = f; b = 0; break;
                case 1: r = q; g = 1; b = 0; break;
                case 2: r = 0; g = 1; b = f; break;
                case 3: r = 0; g = q; b = 1; break;
                case 4: r = f; g = 0; b = 1; break;
                case 5: r = 1; g = 0; b = q; break;
            }
            var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2) + "99";
            return (c);
        }


        var config_donut = {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        {{ avg_anger }},
                        {{ avg_contempt }},
                        {{ avg_disgust }},
                        {{ avg_fear }},
                        {{ avg_happiness }},
                        {{ avg_neutral }},
                        {{ avg_sadness }},
                        {{ avg_surprise }},
                    ],
                    backgroundColor: [
                        "rgba(204, 0, 0, .5)",
                        "rgba(47, 204, 0, .5)",
                        "rgba(37, 37, 37, .5)",
                        "rgba(127, 0, 112, .5)",
                        "rgba(255, 255, 0, .5)",
                        "rgba(134, 144, 171, .5)",
                        "rgba(54, 111, 199, .5)",
                        "rgba(252, 125, 22, .5)",
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Anger",
                    "Contempt",
                    "Disgust",
                    "Fear",
                    "Happiness", 
                    "Neutral",
                    "Sadness",
                    "Surprise"
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Average Emotion Percentage'
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("line").getContext("2d");
            window.myLine = new Chart(ctx, config_line);


            var ctx = document.getElementById("donut").getContext("2d");
            window.myDoughnut = new Chart(ctx, config_donut);

        };

</script>

{% endblock body %}
