{% extends "emotionreader/dashboard.html" %}

{% block body %}

{% csrf_token %}

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-7" style="margin: auto;">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Capture Emotions</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <br>
                                    <div style="display: block; height: 300;">
                                        <video autoplay></video>
                                        <canvas style="display: none;" height=300 width=300></canvas>
                                    </div>
                                    <br>
                                    <button id="start-camera" class="btn btn-info btn-fill">Start Camera</button>
                                    <button id="capture" class="btn btn-info btn-fill"><i class="fa fa-camera-retro"></i> Capture</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-camera-retro"></i> Capture a photo of yourself and have your expressions analyzed
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}

{% block custom_scripts %}
{% load static %}
<script src="{% static 'emotionreader/imagecapture.js' %}"></script>
<script type="text/javascript">app.setupImageCap()</script>
{% endblock custom_scripts %}