{% extends "emotionreader/base.html" %}

{% block body %}
    
<video autoplay></video>
<canvas style="display:none;" height=300 width=300></canvas>

<button type="button" class="btn btn-primary cap-button" id="start-camera">Start Camera</button>
<button type="button" class="btn btn-primary cap-button" id="capture">Capture one image</button>
<button type="button" class="btn btn-primary cap-button" id="cont-capture-start">Start capturing images</button>
<button type="button" class="btn btn-primary cap-button" id="cont-capture-stop">Stop capturing images</button>

<p id="capture-info">Last image captured: <span id="last-shot"></span> <span id="saved"></span></p>

{% csrf_token %}

{% endblock body %}

{% block custom_scripts %}
{% load static %}

<script src="{% static 'emotionreader/imagecapture.js' %}"></script>
<script type="text/javascript">app.setupImageCap()</script>
{% endblock custom_scripts %}